# ETF - Strategy Backtesting (2012-12-03 to 2017-11-30)

### Strategy:
1. At the start of each week, check the 30 week (6 months) rate of change of NiftyBees and GoldBees.
2. If none of the ETFs are returning more than 3% in 6 months. Do nothing. Be invested in LiquidBees.
3. If one or both ETFs are returning more than 3% invest your entire position in that ETF. (Higher Performance ETF).

Backtested results excluding dividends 2005-2015
* 10 Years
* CAGR: 25.22%
* Max Drawdown: 21.96%

(^ backtest results as given)

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'data/etf - 30 week.xlsx')

### Data Wrangling - Daily to Weekly

Data wrangling performed to compress the large dataset to retain only the essential data points (week beginning and ending).
* week ending - for calculating Rate of Change (RoC)
* week beginning - for trade actions (buy/sell)

In [3]:
# Converting data from df to weekly format

'''
Abbreviation for columns
N - NiftyBees
G - GoldBees
L - LiquidBees
B - Begin
E - End
'''

weekly_col = ['WB','WE','NB','NE','GB','GE','LB','LE']
weekly = pd.DataFrame(columns=weekly_col)
curr_week = -1
df_prev_week = 0
# cw_data - current week data
cw_data = dict.fromkeys(weekly_col,0.0)

for row in range(len(df)):
    # cw_ds - current week dataset
    cw_ds = df.iloc[row]
    if df_prev_week == cw_ds[1]:
        cw_data['WE'] = cw_ds[0]
        cw_data['NE'] = cw_ds[3]
        cw_data['GE'] = cw_ds[4]
        cw_data['LE'] = cw_ds[5]
    else:
        weekly.loc[curr_week] = cw_data
        curr_week += 1
        cw_data['WB'] = cw_data['WE'] = cw_ds[0]
        cw_data['NB'] = cw_data['NE'] = cw_ds[3]
        cw_data['GB'] = cw_data['GE'] = cw_ds[4]
        cw_data['LB'] = cw_data['LE'] = cw_ds[5]
    df_prev_week = cw_ds[1]

weekly.loc[curr_week] = cw_data
weekly.drop([-1], inplace=True)
print("Weekly Data:")
weekly['WB'] = pd.to_datetime(weekly['WB'])
weekly['WE'] = pd.to_datetime(weekly['WE'])
print(weekly)

Weekly Data:
            WB         WE       NB       NE       GB       GE       LB  \
0   2012-12-03 2012-12-07   590.84   598.91  2991.00  2944.00  1000.00
1   2012-12-10 2012-12-14   594.67   592.20  2961.80  2943.65  1000.00
2   2012-12-17 2012-12-21   590.02   588.87  2947.00  2908.20   999.99
3   2012-12-24 2012-12-28   589.23   594.78  2917.90  2905.35  1000.00
4   2012-12-31 2013-01-04   594.57   605.65  2903.10  2892.95  1000.00
5   2013-01-07 2013-01-11   603.21   599.27  2904.90  2895.85  1000.00
6   2013-01-14 2013-01-18   607.22   610.52  2889.80  2900.20  1000.00
7   2013-01-21 2013-01-25   614.37   611.44  2889.90  2890.40   999.99
8   2013-01-28 2013-02-01   612.69   606.07  2891.65  2871.95  1000.00
9   2013-02-04 2013-02-08   602.10   592.77  2867.45  2882.80  1000.00
10  2013-02-11 2013-02-15   594.64   592.68  2883.75  2855.70   999.99
11  2013-02-18 2013-02-22   593.80   593.15  2831.60  2778.60   999.99
12  2013-02-25 2013-03-01   593.46   575.83  2782.95  2783.40  1000.00
13  2013-03-04 2013-03-08   578.08   599.78  2805.80  2777.25  1000.00
14  2013-03-11 2013-03-15   598.68   585.17  2778.65  2790.00   999.99
15  2013-03-18 2013-03-22   580.97   566.12  2808.80  2819.05   999.99
16  2013-03-25 2013-03-28   564.49   568.82  2798.60  2806.90   999.99
17  2013-04-01 2013-04-05   571.65   555.85  2806.35  2755.50  1000.00
18  2013-04-08 2013-04-12   558.29   555.96  2784.80  2734.95   999.99
19  2013-04-15 2013-04-18   557.70   575.87  2507.00  2471.45   999.99
20  2013-04-22 2013-04-26   582.25   585.33  2510.70  2576.80  1000.00
21  2013-04-29 2013-05-03   587.84   591.68  2586.05  2583.60   999.99
22  2013-05-06 2013-05-11   594.26   607.82  2587.25  2589.95  1000.00
23  2013-05-13 2013-05-17   596.25   615.84  2560.35  2487.50   999.99
24  2013-05-20 2013-05-24   613.21   597.97  2445.70  2497.90  1000.00
25  2013-05-27 2013-05-31   606.22   601.73  2505.50  2576.25   999.99
26  2013-06-03 2013-06-07   596.74   591.36  2558.40  2626.45   999.99
27  2013-06-10 2013-06-14   590.59   584.29  2608.50  2608.00   999.99
28  2013-06-17 2013-06-21   589.14   571.08  2630.65  2536.85  1000.00
29  2013-06-24 2013-06-28   565.19   589.68  2538.55  2384.30  1000.00
..         ...        ...      ...      ...      ...      ...      ...
231 2017-05-08 2017-05-12   950.27   959.47  2572.05  2555.55   999.99
232 2017-05-15 2017-05-19   963.05   962.53  2558.55  2622.75  1000.00
233 2017-05-22 2017-05-26   963.64   978.89  2618.65  2630.85  1000.00
234 2017-05-29 2017-06-02   980.29   986.33  2629.60  2617.95  1000.00
235 2017-06-05 2017-06-09   989.44   989.54  2653.55  2635.65  1000.00
236 2017-06-12 2017-06-16   983.25   980.52  2631.15  2610.65  1000.00
237 2017-06-19 2017-06-23   988.26   980.29  2601.65  2612.30   999.99
238 2017-06-27 2017-06-30   973.47   975.98  2607.55  2576.90  1000.00
239 2017-07-03 2017-07-07   984.21   990.09  2567.90  2538.90  1000.00
240 2017-07-10 2017-07-14  1000.18  1012.44  2509.90  2518.00  1000.00
241 2017-07-17 2017-07-21  1016.88  1017.73  2537.25  2561.20  1000.00
242 2017-07-24 2017-07-28  1023.86  1027.57  2578.15  2565.45  1000.00
243 2017-07-31 2017-08-04  1034.27  1037.47  2571.00  2581.00  1000.00
244 2017-08-07 2017-08-11  1035.00   997.78  2555.35  2621.90  1000.00
245 2017-08-14 2017-08-18  1009.35  1016.08  2603.30  2623.20  1000.00
246 2017-08-21 2017-08-24  1005.97  1017.59  2601.25  2600.70  1000.00
247 2017-08-28 2017-09-01  1022.78  1028.56  2629.25  2681.85   999.99
248 2017-09-04 2017-09-08  1020.68  1022.80  2712.80  2731.60  1000.00
249 2017-09-11 2017-09-15  1030.52  1037.57  2708.65  2698.35  1000.00
250 2017-09-18 2017-09-22  1045.13  1025.53  2675.90  2672.15   999.99
251 2017-09-25 2017-09-29  1016.95  1009.98  2675.95  2666.25  1000.00
252 2017-10-03 2017-10-06  1015.03  1030.78  2658.35  2640.90  1000.00
253 2017-10-09 2017-10-13  1030.84  1049.73  2669.30  2696.55  1000.00
254 2017-10-16 2017-10-19  1055.96  1046.98  2689.35  2687.35  1000.00
255 2017-10-23 2017-10-27  1051.64  1062.02  2655.45  2627.65  1000.00
256 2017-10-30 2017-11-03  1069.49  1076.66  2627.90  2627.10  1000.00
257 2017-11-06 2017-11-10  1076.69  1062.61  2615.05  2652.95  1000.00
258 2017-11-13 2017-11-17  1056.08  1058.92  2650.75  2646.45  1000.00
259 2017-11-20 2017-11-24  1061.83  1069.46  2667.60  2653.40  1000.00
260 2017-11-27 2017-11-30  1069.85  1057.46  2649.35  2630.05  1000.00

          LE
0    1000.00
1     999.99
2    1000.00
3    1000.00
4     999.99
5    1000.00
6    1000.00
7    1000.00
8    1000.00
9     999.99
10   1000.00
11   1000.00
12   1000.00
13    999.99
14    999.99
15    999.99
16   1000.00
17    999.99
18    999.99
19    999.99
20   1000.00
21   1000.00
22   1000.15
23   1000.00
24    999.99
25    999.99
26   1000.00
27   1000.00
28   1000.00
29   1000.00
..       ...
231  1000.00
232   999.99
233   999.99
234  1000.00
235  1000.00
236  1000.00
237  1000.00
238  1000.00
239  1000.00
240  1000.00
241  1000.00
242  1000.00
243  1000.00
244  1000.00
245  1000.00
246  1000.00
247   999.99
248  1000.00
249  1000.00
250  1000.00
251  1000.00
252   999.99
253   999.99
254  1000.88
255   999.99
256  1000.00
257  1000.00
258  1000.00
259  1000.00
260  1000.00

[261 rows x 8 columns]

### Trade Simulation
Simulation of Trade is performed with the following conditions:
* Period of Study: 2012-12-03 to 2017-11-30
* Initial Funds: â‚¹10,000
* Interval for RoC calculation: 30 weeks ~ 6 months

Scrip:
* N - NiftyBees
* G - GoldBees
* L - LiquidBees

In [4]:
initial_funds = 10000.00
fund_bal = initial_funds
trade_book = pd.DataFrame(columns = ['Date','Scrip','Value','Quantity','Amount'])
# trade book entry
tb_entry = dict.fromkeys(['Date','Scrip','Value','Quantity','Amount'])
period = 30
nifty_roc = gold_roc = 0
entry_num = 0

def roc_calc(col):
    initial = weekly.loc[week_num - period][col]
    final = weekly.loc[week_num - 1][col]
    return (final - initial) * 100 / initial

def invest_in(scrip):
    
    def entry_scrip():
        global entry_num, fund_bal
        tb_entry['Date'] = weekly.WB.values[week_num]
        tb_entry['Scrip'] = scrip
        tb_entry['Value'] = weekly[scrip+'B'].values[week_num]
        tb_entry['Quantity'] = int(fund_bal / tb_entry['Value'])
        tb_entry['Amount'] = tb_entry['Value'] * tb_entry['Quantity'] * -1
        fund_bal += tb_entry['Amount']
        # print(tb_entry, fund_bal)
        trade_book.loc[entry_num] = tb_entry
        entry_num += 1
    def exit_scrip():
        global entry_num, fund_bal
        tb_entry['Date'] = weekly.WB.values[week_num]
        tb_entry['Scrip'] = trade_book.Scrip.values[-1]
        tb_entry['Value'] = weekly[trade_book.Scrip.values[-1]+'B'].values[week_num]
        tb_entry['Quantity'] = trade_book.Quantity.values[-1]
        tb_entry['Amount'] = tb_entry['Value'] * tb_entry['Quantity']
        fund_bal += tb_entry['Amount']
        # print(tb_entry, fund_bal)
        trade_book.loc[entry_num] = tb_entry
        entry_num += 1
    
    if entry_num == 0:
        entry_scrip()
    elif scrip != trade_book.Scrip.values[-1]:
        exit_scrip()
        entry_scrip()
        

for week_num in range(period,len(weekly)):
    nifty_roc = roc_calc('NE')
    gold_roc = roc_calc('GE')
    # print("{:8.2f} {:8.2f}".format(nifty_roc, gold_roc))
    if nifty_roc > 3 or  gold_roc > 3:
        invest_in('N' if nifty_roc > gold_roc else 'G')
    else:
        invest_in('L')
        
print(trade_book)

         Date Scrip    Value Quantity    Amount
0  2013-07-01     L   999.99       10  -9999.90
1  2013-09-23     L  1000.00       10  10000.00
2  2013-09-23     N   596.77       16  -9548.32
3  2013-09-30     N   582.24       16   9315.84
4  2013-09-30     L  1000.00        9  -9000.00
5  2013-10-14     L  1000.00        9   9000.00
6  2013-10-14     N   617.75       15  -9266.25
7  2013-11-11     N   615.80       15   9237.00
8  2013-11-11     G  2866.55        3  -8599.65
9  2013-12-30     G  2725.00        3   8175.00
10 2013-12-30     N   635.78       14  -8900.92
11 2014-01-20     N   638.78       14   8942.92
12 2014-01-20     G  2774.00        3  -8322.00
13 2014-03-03     G  2863.70        3   8591.10
14 2014-03-03     N   628.79       15  -9431.85
15 2015-03-30     N   850.48       15  12757.20
16 2015-03-30     L  1000.00       12 -12000.00
17 2015-04-06     L  1000.00       12  12000.00
18 2015-04-06     N   867.72       14 -12148.08
19 2015-05-18     N   840.68       14  11769.52
20 2015-05-18     L  1000.00       12 -12000.00
21 2015-06-01     L  1000.00       12  12000.00
22 2015-06-01     G  2451.15        5 -12255.75
23 2015-06-08     G  2448.00        5  12240.00
24 2015-06-08     L  1000.00       12 -12000.00
25 2015-07-20     L  1000.00       12  12000.00
26 2015-07-20     N   871.14       14 -12195.96
27 2015-07-27     N   847.42       14  11863.88
28 2015-07-27     L   999.99       12 -11999.88
29 2015-08-03     L  1000.00       12  12000.00
30 2015-08-03     N   866.35       14 -12128.90
31 2015-08-10     N   862.44       14  12074.16
32 2015-08-10     L   999.99       12 -11999.88
33 2016-02-08     L  1000.00       12  12000.00
34 2016-02-08     G  2520.25        4 -10081.00
35 2016-08-29     G  2816.20        4  11264.80
36 2016-08-29     N   876.40       15 -13146.00
37 2016-12-19     N   828.91       15  12433.65
38 2016-12-19     L  1000.00       12 -12000.00
39 2017-01-16     L   999.99       12  11999.88
40 2017-01-16     N   857.67       14 -12007.38
41 2017-01-23     N   854.57       14  11963.98
42 2017-01-23     L  1000.00       12 -12000.00
43 2017-01-30     L  1000.00       12  12000.00
44 2017-01-30     N   879.40       14 -12311.60
45 2017-02-06     N   896.59       14  12552.26
46 2017-02-06     L  1000.00       12 -12000.00
47 2017-02-13     L  1000.00       12  12000.00
48 2017-02-13     N   897.00       14 -12558.00
49 2017-02-20     N   904.99       14  12669.86
50 2017-02-20     L   999.99       12 -11999.88
51 2017-02-27     L  1000.00       12  12000.00
52 2017-02-27     N   907.49       14 -12704.86

### Trade Analysis

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52],
           dtype='int64')

In [6]:
ltp = weekly[trade_book.Scrip.values[-1]+'E'].values[-1]
namt = ltp * trade_book.Quantity.values[-1]
nbal = namt + fund_bal

odd_dates = pd.Series(trade_book.Date.iloc[1::2].values)
odd_dates.loc[len(odd_dates)] = weekly.WE.values[-1]
even_dates = pd.Series(trade_book.Date.iloc[::2].values)
odd_amt = pd.Series(trade_book.Amount.iloc[1::2].values)
odd_amt.loc[len(odd_amt)] = namt
even_amt = pd.Series(trade_book.Amount.iloc[::2].values)

trade_stats = pd.DataFrame()
trade_stats['EntDate'] = even_dates
trade_stats['ExtDate'] = odd_dates
trade_stats['HoldPeriod'] = odd_dates - even_dates
trade_stats['Scrip'] = pd.Series(trade_book.Scrip.iloc[::2].values)
trade_stats['EntAmt'] = even_amt
trade_stats['ExtAmt'] = odd_amt
trade_stats['Gains'] = odd_amt + even_amt
print(trade_stats)

14804.44
15049.43
      EntDate    ExtDate HoldPeriod Scrip    EntAmt    ExtAmt    Gains
0  2013-07-01 2013-09-23    84 days     L  -9999.90  10000.00     0.10
1  2013-09-23 2013-09-30     7 days     N  -9548.32   9315.84  -232.48
2  2013-09-30 2013-10-14    14 days     L  -9000.00   9000.00     0.00
3  2013-10-14 2013-11-11    28 days     N  -9266.25   9237.00   -29.25
4  2013-11-11 2013-12-30    49 days     G  -8599.65   8175.00  -424.65
5  2013-12-30 2014-01-20    21 days     N  -8900.92   8942.92    42.00
6  2014-01-20 2014-03-03    42 days     G  -8322.00   8591.10   269.10
7  2014-03-03 2015-03-30   392 days     N  -9431.85  12757.20  3325.35
8  2015-03-30 2015-04-06     7 days     L -12000.00  12000.00     0.00
9  2015-04-06 2015-05-18    42 days     N -12148.08  11769.52  -378.56
10 2015-05-18 2015-06-01    14 days     L -12000.00  12000.00     0.00
11 2015-06-01 2015-06-08     7 days     G -12255.75  12240.00   -15.75
12 2015-06-08 2015-07-20    42 days     L -12000.00  12000.00     0.00
13 2015-07-20 2015-07-27     7 days     N -12195.96  11863.88  -332.08
14 2015-07-27 2015-08-03     7 days     L -11999.88  12000.00     0.12
15 2015-08-03 2015-08-10     7 days     N -12128.90  12074.16   -54.74
16 2015-08-10 2016-02-08   182 days     L -11999.88  12000.00     0.12
17 2016-02-08 2016-08-29   203 days     G -10081.00  11264.80  1183.80
18 2016-08-29 2016-12-19   112 days     N -13146.00  12433.65  -712.35
19 2016-12-19 2017-01-16    28 days     L -12000.00  11999.88    -0.12
20 2017-01-16 2017-01-23     7 days     N -12007.38  11963.98   -43.40
21 2017-01-23 2017-01-30     7 days     L -12000.00  12000.00     0.00
22 2017-01-30 2017-02-06     7 days     N -12311.60  12552.26   240.66
23 2017-02-06 2017-02-13     7 days     L -12000.00  12000.00     0.00
24 2017-02-13 2017-02-20     7 days     N -12558.00  12669.86   111.86
25 2017-02-20 2017-02-27     7 days     L -11999.88  12000.00     0.12
26 2017-02-27 2017-11-30   276 days     N -12704.86  14804.44  2099.58