# ETF - Strategy Backtesting (2012-12-03 to 2017-11-30)

### Strategy:
1. At the start of each week, check the 30 week (6 months) rate of change of NiftyBees, GoldBees, BankBees and ONGC.
2. If none of the ETFs are returning more than 3% in 6 months. Do nothing. Be invested in LiquidBees.
3. If one or both ETFs are returning more than 3% invest your entire position in that ETF. (Higher Performance ETF).

In [55]:
import pandas as pd
import quandl

In [56]:
quandl_key = open("data/quandlkey").readline().rstrip()
quandl.ApiConfig.api_key = quandl_key

In [57]:
df = quandl.get(["NSE/NIFTYBEES.5",
                 "NSE/GOLDBEES.5",
                 "NSE/LIQUIDBEES.5",
                 "NSE/BANKBEES.5",
                 "NSE/ONGC.5"]).rename(columns={'NSE/NIFTYBEES - Close': 'nc',
                                                'NSE/GOLDBEES - Close': 'gc',
                                                'NSE/LIQUIDBEES - Close': 'lc',
                                                'NSE/BANKBEES - Close': 'bc',
                                                'NSE/ONGC - Close': 'oc'})

In [58]:
df = df.dropna()
df['wn'] = df.index.weekofyear
print(df)

                 nc       gc       lc       bc      oc  wn
Date
2007-03-19   369.79   947.80   999.99   499.00  793.15  12
2007-03-21   379.69   945.67   999.99   533.00  811.65  12
2007-03-22   390.03   950.15  1000.00   549.50  852.30  12
2007-03-23   390.19   947.18   999.99   553.00  843.10  12
2007-03-26   386.76   940.71   999.99   547.21  850.25  13
2007-03-29   381.67   946.90   999.99   526.00  874.80  13
2007-04-02   369.51   944.82  1000.00   502.75  826.10  14
2007-04-03   371.67   940.38  1000.01   492.60  843.80  14
2007-04-04   374.37   939.62  1000.00   504.00  847.65  14
2007-04-05   378.36   946.37  1000.00   521.00  846.15  14
2007-04-09   386.61   945.83  1000.00   526.00  871.35  15
2007-04-10   386.29   948.79   999.99   529.00  874.35  15
2007-04-11   387.55   948.89  1000.00   539.00  880.55  15
2007-04-12   386.68   948.18  1000.00   528.00  850.85  15
2007-04-13   392.69   948.41   999.99   543.00  872.35  15
2007-04-17   402.85   943.37   999.99   544.00  893.70  16
2007-04-18   403.10   946.23  1000.00   556.00  905.20  16
2007-04-19   402.07   951.35  1000.00   546.00  895.55  16
2007-04-20   408.07   946.90  1000.00   559.00  921.55  16
2007-04-23   412.59   946.20  1000.00   554.00  936.05  17
2007-04-24   416.92   934.51   999.99   579.00  948.50  17
2007-04-25   418.96   928.09  1000.00   585.00  972.55  17
2007-04-26   420.28   921.87   999.99   599.50  958.55  17
2007-04-27   412.99   910.08  1000.00   590.00  926.50  17
2007-04-30   411.99   921.58  1000.00   561.00  913.85  18
2007-05-03   418.99   914.63   999.99   576.00  919.35  18
2007-05-08   412.18   921.26   999.99   565.00  918.60  19
2007-05-09   410.45   921.30  1000.00   565.00  909.35  19
2007-05-14   416.87   908.30  1000.00   590.00  906.20  20
2007-05-15   416.99   898.07   999.99   596.00  889.45  20
...             ...      ...      ...      ...     ...  ..
2017-12-14  1054.02  2574.55  1000.00  2551.14  184.35  50
2017-12-15  1063.71  2564.40  1000.00  2591.50  183.00  50
2017-12-18  1069.26  2563.25  1000.00  2593.59  183.05  51
2017-12-19  1077.82  2572.15  1000.00  2605.98  185.20  51
2017-12-20  1075.13  2574.00  1000.00  2600.19  188.00  51
2017-12-21  1074.49  2575.45  1000.00  2596.34  188.00  51
2017-12-22  1079.36  2579.45  1000.00  2601.46  193.40  51
2017-12-26  1082.81  2600.30   999.99  2602.45  193.70  52
2017-12-27  1082.37  2616.55  1000.00  2590.71  192.60  52
2017-12-28  1079.88  2637.25  1000.00  2584.72  193.00  52
2017-12-29  1084.48  2626.80  1000.00  2596.52  195.20  52
2018-01-01  1078.14  2643.60  1000.00  2577.82  192.35   1
2018-01-02  1074.61  2646.15  1000.00  2571.74  196.85   1
2018-01-03  1076.29  2646.30  1000.00  2576.42  193.45   1
2018-01-04  1081.76  2639.70  1000.00  2591.07  199.50   1
2018-01-05  1087.20  2643.95  1000.00  2607.28  198.45   1
2018-01-08  1092.46  2647.05   999.99  2611.15  197.40   2
2018-01-09  1094.91  2653.90  1000.00  2609.65  197.00   2
2018-01-10  1099.07  2651.95  1000.00  2601.03  197.90   2
2018-01-11  1100.29  2661.80  1000.00  2605.27  197.90   2
2018-01-12  1102.69  2678.25  1000.00  2611.11  200.75   2
2018-01-15  1109.02  2694.90  1000.00  2644.72  196.60   3
2018-01-16  1103.79  2705.15  1000.00  2642.41  197.20   3
2018-01-17  1110.49  2701.45   999.99  2670.07  195.70   3
2018-01-18  1115.38  2682.90  1000.00  2687.37  194.10   3
2018-01-19  1121.84  2694.70  1000.00  2734.60  193.70   3
2018-01-22  1128.79  2690.10  1000.00  2741.58  200.70   4
2018-01-23  1141.89  2699.55  1000.00  2777.15  207.35   4
2018-01-24  1141.95  2713.40   999.99  2776.15  210.85   4
2018-01-25  1139.31  2733.30  1000.00  2779.29  208.50   4

[2674 rows x 6 columns]

### Data Wrangling - Daily to Weekly

Data wrangling performed to compress the large dataset to retain only the essential data points (week beginning and ending).
* week ending - for calculating Rate of Change (RoC)
* week beginning - for trade actions (buy/sell)

In [59]:
# Converting data from df to weekly format

weekly_col = ['wb','we','nb','ne','gb','ge','lb','le', 'bb', 'be', 'ob', 'oe']
weekly = pd.DataFrame(columns=weekly_col)
curr_week = -1
df_prev_week = 0
# cw_data - current week data
cw_data = dict.fromkeys(weekly_col,0.0)

for row in range(len(df)):
    # cw_ds - current week dataset
    cw_ds = df.iloc[row]
    if df_prev_week == cw_ds[5]:
        cw_data['we'] = df.index[row]
        cw_data['ne'] = cw_ds[0]
        cw_data['ge'] = cw_ds[1]
        cw_data['le'] = cw_ds[2]
        cw_data['be'] = cw_ds[3]
        cw_data['oe'] = cw_ds[4]
    else:
        weekly.loc[curr_week] = cw_data
        curr_week += 1
        cw_data['wb'] = cw_data['we'] = df.index[row]
        cw_data['nb'] = cw_data['ne'] = cw_ds[0]
        cw_data['gb'] = cw_data['ge'] = cw_ds[1]
        cw_data['lb'] = cw_data['le'] = cw_ds[2]
        cw_data['bb'] = cw_data['be'] = cw_ds[3]
        cw_data['ob'] = cw_data['oe'] = cw_ds[4]
    df_prev_week = cw_ds[5]

weekly.loc[curr_week] = cw_data
weekly.drop([-1], inplace=True)
print("Weekly Data:")
weekly['wb'] = pd.to_datetime(weekly['wb'])
weekly['we'] = pd.to_datetime(weekly['we'])
print(weekly)

Weekly Data:
            wb         we       nb       ne       gb       ge       lb  \
0   2007-03-19 2007-03-23   369.79   390.19   947.80   947.18   999.99
1   2007-03-26 2007-03-29   386.76   381.67   940.71   946.90   999.99
2   2007-04-02 2007-04-05   369.51   378.36   944.82   946.37  1000.00
3   2007-04-09 2007-04-13   386.61   392.69   945.83   948.41  1000.00
4   2007-04-17 2007-04-20   402.85   408.07   943.37   946.90   999.99
5   2007-04-23 2007-04-27   412.59   412.99   946.20   910.08  1000.00
6   2007-04-30 2007-05-03   411.99   418.99   921.58   914.63  1000.00
7   2007-05-08 2007-05-09   412.18   410.45   921.26   921.30   999.99
8   2007-05-14 2007-05-18   416.87   425.09   908.30   888.93  1000.00
9   2007-05-21 2007-05-25   429.72   426.60   885.22   875.39   999.99
10  2007-05-28 2007-06-01   431.55   434.61   875.84   883.69  1000.00
11  2007-06-04 2007-06-08   431.19   419.80   889.31   885.35  1000.00
12  2007-06-11 2007-06-15   418.08   421.66   877.06   874.72  1000.00
13  2007-06-18 2007-06-22   420.24   428.50   881.32   872.82  1000.00
14  2007-06-25 2007-06-29   429.16   434.00   874.18   868.52  1000.00
15  2007-07-03 2007-07-06   438.34   439.16   873.98   860.55  1000.00
16  2007-07-09 2007-07-13   443.75   454.86   870.99   882.84   999.99
17  2007-07-16 2007-07-20   454.37   463.00   883.72   889.16  1000.00
18  2007-07-24 2007-07-27   464.91   450.00   893.64   882.33  1000.00
19  2007-07-30 2007-08-03   451.03   444.70   876.74   879.91  1000.00
20  2007-08-06 2007-08-10   438.77   436.39   888.58   880.49   999.99
21  2007-08-13 2007-08-17   440.10   415.69   884.96   880.49   999.99
22  2007-08-20 2007-08-24   421.88   424.30   880.54   882.54  1000.00
23  2007-08-27 2007-08-31   433.82   451.05   892.39   892.21   999.99
24  2007-09-03 2007-09-07   452.85   456.82   892.63   920.27  1000.00
25  2007-09-10 2007-09-14   455.51   453.94   928.70   929.98   999.99
26  2007-09-17 2007-09-21   454.46   486.63   937.21   952.32   999.99
27  2007-09-24 2007-09-28   500.91   507.50   947.61   948.12  1000.00
28  2007-10-01 2007-10-05   511.00   522.81   958.10   944.86  1000.00
29  2007-10-08 2007-10-12   510.78   547.20   945.07   954.86  1000.00
..         ...        ...      ...      ...      ...      ...      ...
537 2017-07-03 2017-07-07   984.21   990.09  2567.90  2538.90  1000.00
538 2017-07-10 2017-07-14  1000.18  1012.44  2509.90  2518.00  1000.00
539 2017-07-17 2017-07-21  1016.88  1017.73  2537.25  2561.20  1000.00
540 2017-07-24 2017-07-28  1023.86  1027.57  2578.15  2565.45  1000.00
541 2017-07-31 2017-08-04  1034.27  1037.47  2571.00  2581.00  1000.00
542 2017-08-07 2017-08-11  1035.00   997.78  2555.35  2621.90  1000.00
543 2017-08-14 2017-08-18  1009.35  1016.08  2603.30  2623.20  1000.00
544 2017-08-21 2017-08-24  1005.97  1017.59  2601.25  2600.70  1000.00
545 2017-08-28 2017-09-01  1022.78  1028.56  2629.25  2681.85   999.99
546 2017-09-04 2017-09-08  1020.68  1022.80  2712.80  2731.60  1000.00
547 2017-09-11 2017-09-15  1030.52  1037.57  2708.65  2698.35  1000.00
548 2017-09-18 2017-09-22  1045.13  1025.53  2675.90  2672.15   999.99
549 2017-09-25 2017-09-29  1016.95  1009.98  2675.95  2666.25  1000.00
550 2017-10-03 2017-10-06  1015.03  1030.78  2658.35  2640.90  1000.00
551 2017-10-09 2017-10-13  1030.84  1049.73  2669.30  2696.55  1000.00
552 2017-10-16 2017-10-19  1055.96  1046.98  2689.35  2687.35  1000.00
553 2017-10-23 2017-10-27  1051.64  1062.02  2655.45  2627.65  1000.00
554 2017-10-30 2017-11-03  1069.49  1076.66  2627.90  2627.10  1000.00
555 2017-11-06 2017-11-10  1076.69  1062.61  2615.05  2652.95  1000.00
556 2017-11-13 2017-11-17  1056.08  1058.92  2650.75  2646.45  1000.00
557 2017-11-20 2017-11-24  1061.83  1069.46  2667.60  2653.40  1000.00
558 2017-11-27 2017-12-01  1069.85  1046.15  2649.35  2624.65  1000.00
559 2017-12-04 2017-12-08  1046.95  1060.46  2611.85  2563.20   999.99
560 2017-12-11 2017-12-15  1062.93  1063.71  2564.55  2564.40  1000.00
561 2017-12-18 2017-12-22  1069.26  1079.36  2563.25  2579.45  1000.00
562 2017-12-26 2017-12-29  1082.81  1084.48  2600.30  2626.80   999.99
563 2018-01-01 2018-01-05  1078.14  1087.20  2643.60  2643.95  1000.00
564 2018-01-08 2018-01-12  1092.46  1102.69  2647.05  2678.25   999.99
565 2018-01-15 2018-01-19  1109.02  1121.84  2694.90  2694.70  1000.00
566 2018-01-22 2018-01-25  1128.79  1139.31  2690.10  2733.30  1000.00

          le       bb       be      ob       oe
0     999.99   499.00   553.00  793.15   843.10
1     999.99   547.21   526.00  850.25   874.80
2    1000.00   502.75   521.00  826.10   846.15
3     999.99   526.00   543.00  871.35   872.35
4    1000.00   544.00   559.00  893.70   921.55
5    1000.00   554.00   590.00  936.05   926.50
6     999.99   561.00   576.00  913.85   919.35
7    1000.00   565.00   565.00  918.60   909.35
8     999.99   590.00   632.00  906.20   908.80
9     999.99   640.00   609.00  932.60   907.40
10   1000.00   627.00   640.00  911.70   911.35
11    999.99   640.00   634.00  902.90   864.75
12   1000.00   635.00   618.00  852.90   882.50
13   1000.00   626.00   670.00  889.55   909.60
14   1000.00   664.00   680.00  917.05   905.55
15    999.99   700.00   690.00  887.70   876.55
16   1000.00   690.40   704.00  890.50   901.05
17    999.99   702.00   719.00  914.85   887.80
18   1000.00   725.00   685.00  917.00   903.80
19   1000.00   698.75   700.00  904.60   884.40
20    999.99   692.00   674.10  870.70   842.25
21    999.99   672.33   634.01  843.05   783.95
22   1000.00   657.00   621.35  818.60   805.20
23   1000.00   646.62   679.85  818.25   859.70
24    999.99   685.00   699.94  841.05   850.85
25    999.99   692.11   698.60  832.10   834.40
26    999.99   698.25   750.00  836.00   925.95
27   1000.00   765.31   807.00  929.35   958.10
28   1000.00   797.52   797.00  999.50   965.85
29    999.99   767.01   800.17  939.65  1093.80
..       ...      ...      ...     ...      ...
537  1000.00  2357.65  2379.09  159.10   159.60
538  1000.00  2395.59  2423.12  162.40   158.35
539  1000.00  2433.75  2458.87  160.05   164.35
540  1000.00  2476.40  2511.94  163.25   164.75
541  1000.00  2544.92  2522.14  169.40   166.40
542  1000.00  2530.44  2429.55  165.90   159.65
543  1000.00  2450.49  2451.10  161.70   160.90
544  1000.00  2436.22  2466.13  157.15   159.45
545   999.99  2477.85  2477.72  160.60   159.95
546  1000.00  2462.41  2472.07  161.80   161.85
547  1000.00  2503.53  2521.35  163.05   166.75
548  1000.00  2539.85  2478.38  165.20   164.45
549  1000.00  2457.15  2448.59  164.80   170.95
550   999.99  2447.15  2462.17  170.65   173.85
551   999.99  2461.10  2504.08  170.70   169.65
552  1000.88  2502.84  2441.27  172.05   172.05
553   999.99  2442.52  2521.25  171.70   184.00
554  1000.00  2542.87  2599.68  186.60   191.85
555  1000.00  2595.34  2578.54  199.25   191.10
556  1000.00  2577.96  2616.83  184.20   177.60
557  1000.00  2616.97  2619.70  180.00   181.00
558  1000.00  2627.63  2556.61  184.05   179.65
559  1000.00  2554.64  2564.94  181.60   180.25
560  1000.00  2573.86  2591.50  178.90   183.00
561  1000.00  2593.59  2601.46  183.05   193.40
562  1000.00  2602.45  2596.52  193.70   195.20
563  1000.00  2577.82  2607.28  192.35   198.45
564  1000.00  2611.15  2611.11  197.40   200.75
565  1000.00  2644.72  2734.60  196.60   193.70
566  1000.00  2741.58  2779.29  200.70   208.50

[567 rows x 12 columns]

### Trade Simulation

In [60]:
initial_funds = 10000.00
fund_bal = initial_funds
trade_book = pd.DataFrame(columns = ['Date','Scrip','Value','Quantity','Amount'])
# trade book entry
tb_entry = dict.fromkeys(['Date','Scrip','Value','Quantity','Amount'])
period = 30
nbr = gbr = bbr = onr = 0
entry_num = 0

def roc_calc(col):
    initial = weekly.loc[week_num - period][col]
    final = weekly.loc[week_num - 1][col]
    return (final - initial) * 100 / initial

def invest_in(scrip):
    
    def entry_scrip():
        global entry_num, fund_bal
        tb_entry['Date'] = weekly.wb.values[week_num]
        tb_entry['Scrip'] = scrip
        tb_entry['Value'] = weekly[scrip+'b'].values[week_num]
        tb_entry['Quantity'] = int(fund_bal / tb_entry['Value'])
        tb_entry['Amount'] = tb_entry['Value'] * tb_entry['Quantity'] * -1
        fund_bal += tb_entry['Amount']
        # print(tb_entry, fund_bal)
        trade_book.loc[entry_num] = tb_entry
        entry_num += 1
    def exit_scrip():
        global entry_num, fund_bal
        tb_entry['Date'] = weekly.wb.values[week_num]
        tb_entry['Scrip'] = trade_book.Scrip.values[-1]
        tb_entry['Value'] = weekly[trade_book.Scrip.values[-1]+'b'].values[week_num]
        tb_entry['Quantity'] = trade_book.Quantity.values[-1]
        tb_entry['Amount'] = tb_entry['Value'] * tb_entry['Quantity']
        fund_bal += tb_entry['Amount']
        # print(tb_entry, fund_bal)
        trade_book.loc[entry_num] = tb_entry
        entry_num += 1
    
    if entry_num == 0:
        entry_scrip()
    elif scrip != trade_book.Scrip.values[-1]:
        exit_scrip()
        entry_scrip()
        

for week_num in range(period,len(weekly)):
    nbr = roc_calc('ne')
    gbr = roc_calc('ge')
    bbr = roc_calc('be')
    onr = roc_calc('oe')
    
    if nbr > 3:
        if nbr > gbr and nbr > bbr and nbr > onr:
            invest_in('n')
    elif gbr > 3:
        if gbr > bbr and gbr > onr:
            invest_in('g')
    elif bbr > 3:
        if bbr > onr:
            invest_in('b')
    elif onr > 3:
        invest_in('o')
    else:
        invest_in('l')
        
print(trade_book)

         Date Scrip    Value Quantity    Amount
0  2008-03-24     g  1194.98        8  -9559.84
1  2008-08-18     g  1172.38        8   9379.04
2  2008-08-18     o  1074.40        9  -9669.60
3  2008-08-25     o  1014.55        9   9130.95
4  2008-08-25     l   999.99        9  -8999.91
5  2008-09-08     l   999.99        9   8999.91
6  2008-09-08     o  1099.70        8  -8797.60
7  2008-09-15     o   961.35        8   7690.80
8  2008-09-15     l  1000.00        8  -8000.00
9  2008-09-22     l   999.99        8   7999.92
10 2008-09-22     o  1059.70        7  -7417.90
11 2008-10-06     o   981.30        7   6869.10
12 2008-10-06     l  1000.00        7  -7000.00
13 2008-10-13     l  1000.00        7   7000.00
14 2008-10-13     g  1292.67        5  -6463.35
15 2008-10-20     g  1250.67        5   6253.35
16 2008-10-20     l   999.99        7  -6999.93
17 2008-11-24     l  1000.00        7   7000.00
18 2008-11-24     g  1270.18        5  -6350.90
19 2008-12-08     g  1231.18        5   6155.90
20 2008-12-08     l   999.99        7  -6999.93
21 2008-12-22     l  1000.00        7   7000.00
22 2008-12-22     g  1278.89        5  -6394.45
23 2009-01-19     g  1311.80        5   6559.00
24 2009-01-19     l  1000.00        7  -7000.00
25 2009-01-27     l  1000.00        7   7000.00
26 2009-01-27     g  1369.48        5  -6847.40
27 2009-05-11     g  1444.01        5   7220.05
28 2009-05-11     n   357.30       21  -7503.30
29 2010-05-10     n   519.32       21  10905.72
..        ...   ...      ...      ...       ...
49 2013-10-14     l  1000.00       13  13000.00
50 2013-10-14     n   617.75       21 -12972.75
51 2013-11-25     n   619.10       21  13001.10
52 2013-11-25     g  2840.40        4 -11361.60
53 2013-12-30     g  2724.60        4  10898.40
54 2013-12-30     n   635.78       20 -12715.60
55 2014-02-03     n   612.91       20  12258.20
56 2014-02-03     g  2760.45        4 -11041.80
57 2014-03-03     g  2861.55        4  11446.20
58 2014-03-03     n   628.79       20 -12575.80
59 2015-03-30     n   850.48       20  17009.60
60 2015-03-30     b  1832.07        9 -16488.63
61 2015-06-08     b  1748.47        9  15736.23
62 2015-06-08     l  1000.00       16 -16000.00
63 2015-07-20     l  1000.00       16  16000.00
64 2015-07-20     n   871.14       18 -15680.52
65 2015-07-27     n   847.42       18  15253.56
66 2015-07-27     l   999.99       15 -14999.85
67 2015-08-03     l  1000.00       15  15000.00
68 2015-08-03     n   866.35       18 -15594.30
69 2015-08-10     n   862.44       18  15523.92
70 2015-08-10     l   999.99       15 -14999.85
71 2016-02-08     l  1000.00       15  15000.00
72 2016-02-08     g  2520.25        6 -15121.50
73 2016-12-19     g  2508.70        6  15052.20
74 2016-12-19     b  1847.27        8 -14778.16
75 2016-12-26     b  1784.83        8  14278.64
76 2016-12-26     l  1000.00       15 -15000.00
77 2017-01-09     l   999.99       15  14999.85
78 2017-01-09     b  1856.49        8 -14851.92

[79 rows x 5 columns]

### Trade Analysis

In [61]:
ltp = weekly[trade_book.Scrip.values[-1]+'e'].values[-1]
namt = ltp * trade_book.Quantity.values[-1]
nbal = namt + fund_bal

odd_dates = pd.Series(trade_book.Date.iloc[1::2].values)
odd_dates.loc[len(odd_dates)] = weekly.we.values[-1]
even_dates = pd.Series(trade_book.Date.iloc[::2].values)
odd_amt = pd.Series(trade_book.Amount.iloc[1::2].values)
odd_amt.loc[len(odd_amt)] = namt
even_amt = pd.Series(trade_book.Amount.iloc[::2].values)

trade_stats = pd.DataFrame()
trade_stats['EntryDate'] = even_dates
trade_stats['ExitDate'] = odd_dates
trade_stats['HoldPeriod'] = odd_dates - even_dates
trade_stats['Scrip'] = pd.Series(trade_book.Scrip.iloc[::2].values)
trade_stats['EntryAmt'] = even_amt
trade_stats['ExitAmt'] = odd_amt
trade_stats['Gains'] = odd_amt + even_amt
print(trade_stats)

    EntryDate   ExitDate HoldPeriod Scrip  EntryAmt   ExitAmt    Gains
0  2008-03-24 2008-08-18   147 days     g  -9559.84   9379.04  -180.80
1  2008-08-18 2008-08-25     7 days     o  -9669.60   9130.95  -538.65
2  2008-08-25 2008-09-08    14 days     l  -8999.91   8999.91     0.00
3  2008-09-08 2008-09-15     7 days     o  -8797.60   7690.80 -1106.80
4  2008-09-15 2008-09-22     7 days     l  -8000.00   7999.92    -0.08
5  2008-09-22 2008-10-06    14 days     o  -7417.90   6869.10  -548.80
6  2008-10-06 2008-10-13     7 days     l  -7000.00   7000.00     0.00
7  2008-10-13 2008-10-20     7 days     g  -6463.35   6253.35  -210.00
8  2008-10-20 2008-11-24    35 days     l  -6999.93   7000.00     0.07
9  2008-11-24 2008-12-08    14 days     g  -6350.90   6155.90  -195.00
10 2008-12-08 2008-12-22    14 days     l  -6999.93   7000.00     0.07
11 2008-12-22 2009-01-19    28 days     g  -6394.45   6559.00   164.55
12 2009-01-19 2009-01-27     8 days     l  -7000.00   7000.00     0.00
13 2009-01-27 2009-05-11   104 days     g  -6847.40   7220.05   372.65
14 2009-05-11 2010-05-10   364 days     n  -7503.30  10905.72  3402.42
15 2010-05-10 2012-03-26   686 days     g -10249.20  16197.30  5948.10
16 2012-03-26 2012-05-07    42 days     b -16178.08  15686.56  -491.52
17 2012-05-07 2012-05-28    21 days     g -13901.50  13899.50    -2.00
18 2012-05-28 2012-06-11    14 days     l -16000.00  15999.84    -0.16
19 2012-06-11 2012-08-21    71 days     b -15799.36  17033.28  1233.92
20 2012-08-21 2013-04-15   237 days     g -17256.90  15042.00 -2214.90
21 2013-04-15 2013-08-05   112 days     o -15631.00  13543.60 -2087.40
22 2013-08-05 2013-09-23    49 days     l -12999.87  13000.00     0.13
23 2013-09-23 2013-09-30     7 days     n -13128.94  12809.28  -319.66
24 2013-09-30 2013-10-14    14 days     l -13000.00  13000.00     0.00
25 2013-10-14 2013-11-25    42 days     n -12972.75  13001.10    28.35
26 2013-11-25 2013-12-30    35 days     g -11361.60  10898.40  -463.20
27 2013-12-30 2014-02-03    35 days     n -12715.60  12258.20  -457.40
28 2014-02-03 2014-03-03    28 days     g -11041.80  11446.20   404.40
29 2014-03-03 2015-03-30   392 days     n -12575.80  17009.60  4433.80
30 2015-03-30 2015-06-08    70 days     b -16488.63  15736.23  -752.40
31 2015-06-08 2015-07-20    42 days     l -16000.00  16000.00     0.00
32 2015-07-20 2015-07-27     7 days     n -15680.52  15253.56  -426.96
33 2015-07-27 2015-08-03     7 days     l -14999.85  15000.00     0.15
34 2015-08-03 2015-08-10     7 days     n -15594.30  15523.92   -70.38
35 2015-08-10 2016-02-08   182 days     l -14999.85  15000.00     0.15
36 2016-02-08 2016-12-19   315 days     g -15121.50  15052.20   -69.30
37 2016-12-19 2016-12-26     7 days     b -14778.16  14278.64  -499.52
38 2016-12-26 2017-01-09    14 days     l -15000.00  14999.85    -0.15
39 2017-01-09 2018-01-25   381 days     b -14851.92  22234.32  7382.40

In [62]:
np = trade_stats.Gains.sum()
cagr = (((nbal / initial_funds) ** (1 / 10) -1) * 100).round(2)

print("Initial Funds:\t{0:.2f}".format(initial_funds))
print("Net Profit:\t{0:.2f}".format(np))
print("CAGR:\t\t{0:8.3}%".format(cagr))

Initial Funds:	10000.00
Net Profit:	12736.08
CAGR:		    8.56%